
.container-product-cart{
    margin-bottom: 10px;
    border: 1px solid white;
    padding: 10px 10px;
    border-radius: 10px;
}

.product-title{
    color: rgb(12, 225, 240)
}

.Offcanvas .cart-btn-checkout{
    margin-top: 20px;
    width: 100%;
}

